body{
    background: #FFFFFF;
}

main{float:left;
    margin-right:44px;
width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
header{}
input{

    margin: 20px;}

#template{ }
#gameLayout{
    float:left;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#topLayout{
      float:left;
      width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomLayout{   float:left;width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomLeft{  float:left; width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomRight{   float:left;width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
                  


#categories{  float:left;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


#container{  float:left;
     width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}


#CategoryTitle{  float:left;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    
}
p{  float:left;
     
}

#test{}
.c{ border: 25px solid navy;}