body{
    background: #FFFFFF;
}

main{
    /* float: right; */
  overflow: auto;
  margin: auto;
  width: 722px;
  padding: 25px;
  border: 25px solid navy;
}
header{}
input{

    margin: 20px;}

#template{ }
#gameLayout{
    float:left;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#topLayout{
      float:left;
      width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomLayout{   float:left;width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomLeft{  float:left; width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
#bottomRight{   float:left;width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;}
                  


#categories{  float:left;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}


#container{    overflow: auto;
  /* float: left; */
  width: 567px;
  padding: -29px;
 /* border: 8px solid navy;*/
  margin: auto;
}


#CategoryTitle{   


  width: 563px;
  height: 81px;
  /* padding: 18px; */
  border: 2px solid navy;
  /* margin: 25px; */
  margin: auto;
  border-radius-top: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
    
}

  
 ul{ 
  padding: 0px;
  margin-top: -2px;
  width: 563px;
  border: 2px solid navy;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

 } 
 li{  /* width: 51px; */
  font-size: 42px;
  /* font-family: serif; */
  list-style-type: none;
  /* width: 200px; */
  
 }
 
li:hover {
  cursor:pointer;
     
 }
 
#li0{
background-color:pink;
border-bottom-style: solid;  

}
#li1{

border-bottom-style: solid;    
}

#li2{
background-color:pink;
border-bottom-style: solid;    
}

#li3{

border-bottom-style: solid;    
}
#li4{
background-color:pink;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}

li.anim { 

    background-color:pink;

}

#li0, .anim:hover { 
 background-color:white;
}

